
<html>
    <head>
        <title>Detection</title>
    </head>
    <body>
        {% load static %}
        <table border="1">
            <tr>
                <th>Image name</th>
                <th>Object name</th>
                <th>Time</th>
                <th>xmin</th>
                <th>ymin</th>
                <th>xmax</th>
                <th>ymax</th>
            </tr>
        {% for data in details %}
        <tr>
            <td>{{data.imgname}}</td>
            <td>{{data.objname}}</td>
            <td>{{data.time}}</td>
            <td>{{data.xmini}}</td>
            <td>{{data.ymini}}</td>
            <td>{{data.xmaxi}}</td>
            <td>{{data.ymaxi}}</td>
        </tr>
        {% endfor %}
    </body>
</html>
 